.projects ul {
  list-style-type: korean-hangul-formal;
}

.projects ul li .remove {
  display: none;
}

.projects ul li:hover .remove {
  display: block;
}

.newProject {
  display: flex;
}

.newProject input {
  flex: 1;
  margin-right: 0.5em;
}
