html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  background: url('https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=100') no-repeat center center fixed;
  background-size: cover;
  font-size: 14px;
  line-height: 27px;
}

input {
  width: 100%;
  padding: 0.3em 1em;
  box-sizing: border-box;
  border: 1px solid rgb(58 58 58);
  background-color: rgb(0 0 0 / 0%);
  color: rgb(226 226 226);
}

input:hover, input:focus {
  border: 1px solid rgb(75 75 75);
  background-color: rgb(0 0 0 / 25%);
}

button {
  padding: 0.2em 0.7em;
  border: 1px solid rgb(58 58 58);
  background-color: rgb(0 0 0 / 0%);
  color: rgb(226 226 226);
}

button:hover {
  border: 1px solid rgb(75 75 75);
  background-color: rgb(0 0 0 / 25%);
}

button.text-button {
  border: 0;
  padding: 5px;
  cursor: pointer;
}

button:hover.text-button {
  border: 0;
  background-color: rgb(0 0 0 / 0%)
}
